<!DOCTYPE html>
<html lang="en">
<head>
        <title>About Us AiDataRon</title>
	<link rel="shortcut icon" type="image/png" href="images/fav1.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="swiper/swiper.min.css">
        <link rel="stylesheet" href="privacypolicy.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
        
        
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.js"></script>  -->
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166294183-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166294183-1');
</script>

</head>
<body>

     <nav>
            <div class="menu-wrap">
                    <input type="checkbox" class="toggler">
                    <div class="hamburger"><div></div></div>
                    <div class="menu">
                        <div>
                        <div class="row">
                            <div class="col-12 col-md-6 mt-5 ">
                                <ul>
                                    <li ><a class="hover-link" href="/">Home</a></li>
									<li><a class="hover-link" href="/#ourservices">Services</a></li>
									<li><a class="hover-link" href="/portfolio">Portfolio</a></li>
                                    <li ><a class="hover-link" href="https://www.fiverr.com/aidataron?up_rollout=true">Get a Quote</a></li>
                                    <li class="nav-item dropdown">
                                            <a href="#" class="nav-link text-white">Account</a>
                                            <div class="dropdown pl-md-5">
                                              <div class="dropdown-content text-center ">
												  
												<% if(!currentUser){ %>
													<a href="/signup">Signup</a>
													<a href="/login">Login</a>
												<% }else{ %>
												  <a href="/profile"><%= currentUser.yourname%></a>
													<a href="/logout">Logout</a>
												<% } %>
                                              </div>
                                            </div>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-12 col-md-6 nav-logo text-center">
                                <div class="col-12 footer-logo text-center text-white ">
                                    <img src="images/ailogo2.png" class="rounded" alt="..." width="150px" height="145px">
                                    <h2 id = "aidataron">AiDataRon</h2>

                                </div>
                                <div class="follow text-white mt-5 d-flex-col justify-content-center align-items-center">
                                    <h5 class="mt-5 pt-3"><strong>Contact Us </strong></h5>
                                    <a href="https://www.facebook.com/Aidataron-103710027786096/" class="text-white"><i class="fab fa-facebook"></i></a>
                                    <a href="http://www.twitter.com/aidataron" class="text-white"><i class="fab fa-twitter"></i></a>
                                    <a href="http://instagram.com/aidataronofficial" class="text-white"><i class="fab fa-instagram"></i></a>
                                    <a href="https://wa.me/923138309256" class="text-white" target="_blank"><i class="fab fa-whatsapp"></i></a>
                                    <a href="https://www.linkedin.com/company/aidataronofficial/" class="text-white" target="_blank"><i class="fab fa-linkedin"></i></a>

                                </div>
                                

                            </div>
                            
                        </div>
                        </div>
                    </div>


            </div>

            <div class="account">
                    <li class="nav-item dropdown">
                            <div class="dropdown">
                                <button class="btn btn-account">Account</button>
                              <div class="dropdown-content">
								  <% if(!currentUser){ %>
								    <a href="/signup">Signup</a>
                                    <a href="/login">Login</a>
								  <% }else{ %>
								  <a href="/profile"><%= currentUser.yourname%></a>
								    <a href="/logout">Logout</a>
								  <% } %>
                                
								  
                              </div>
                            </div>
                    </li>
                    
            </div>

            

            <div class="nav-brand text-center" >
                <div class="brand">
                    <div><a id= "aidataron-brand"  href="/"><strong>AiDataRon</strong></a></div>
                    

                </div>


            </div>

            

            

    </nav>

<hr><hr>
        <section class="privacypolicy text-white container mt-5">
            <div><h1 class="text-center">About Us</h1></div>
            <br>

                        <div class="privacy-policy-content">
                                <div class="full-dev">
									<p>
										<strong>Established in 2017 AiDataRon</strong> continues to grow with a staff of 50+ graphics, mobile apps, web designers and developers and powerful physical presence in Islamabad (Pakistan). Please visit our Facebook or Instagram page to see more about us.
										<hr><hr>

AiDataRon has come a long way from its beginnings in Pakistan. When we first started out, our passion for doing something new, so that AiDataRon can offer you quality services. We now serve customers all over the world, and are thrilled that we're able to turn our passion into our own website.

If you have any questions or comments, please don't hesitate to contact us.

									</p>
                                        
                                        <br><br>

                                </div>
                                <br><br>


                        </div>



        </section>


    <footer >
        <br><br><br><br><br><br><br>
        <div class="container-fluid pb-5">
            <div class="row  pt-5 m-0 text-center">
                    <div class="col-12 col-md-5 footer-box1 ">
                        <div class="row">
                            <div class="col-12 footer-logo text-center text-white">
                                    <img src="images/ailogo2.png" class="rounded" alt="..." width="150px" height="145px" href="/">
                                    <h2 href="/" class="pb-3">
                                        AiDataRon
                                    </h2>
                                <p>Perfect Services To Maximize Your Digital Business</p>
        
                            </div>
        
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class=" follow text-white mt-5 d-flex-col justify-content-center align-items-center">
                                        <h5><strong>Contact us </strong></h5>
                                        <a href="https://www.facebook.com/Aidataron-103710027786096/"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.twitter.com/aidataron"><i class="fab fa-twitter"></i></a>
                                        <a href="http://instagram.com/aidataronofficial"><i class="fab fa-instagram"></i></a>
                                        <a href="https://wa.me/923138309256"><i class="fab fa-whatsapp"></i></a>
                                        <a href="https://www.linkedin.com/company/aidataronofficial/"><i class="fab fa-linkedin"></i></a>
                                </div>
        
                            </div>
        
                        </div>
                    </div>
                    <div class="col-12 col-md-7 footer-box2 px-5">
                        <div class="row text-center">
                                <br><br><br>
                                <div class="quote-query mt-5 ">
                                    <div class="container text-center text-white ml-md-2">
										<a href="https://www.fiverr.com/aidataron?up_rollout=true"><button  class="btn btn-quotequery px-5 py-2">Get a quote</button></a>
										<a href="/query"><button  class="btn btn-quotequery px-5 py-2">Any Query?</button></a>
                        
                                    </div>
                        
                                </div>
                                <br><br><br>

                        </div>
                        <div class="row">
                            <div class="col-12 col-md-3">
                                    <div class="text-white mt-5 d-flex-col justify-content-center align-items-center">
                                            <!-- <h5><strong>LIBARTUS</strong></h5>
                                            <p><a href="#">Our Story</a></p>
                                            <p><a href="#">Careers</a></p> -->
                                            <p><a href="/ourstory">Our Story</a></p>
                                     </div>

                            </div>
							<div class="col-12 col-md-3">
                                    <div class="text-white mt-5 d-flex-col justify-content-center align-items-center">
                                            <!-- <h5><strong>LIBARTUS</strong></h5>
                                            <p><a href="#">Our Story</a></p>
                                            <p><a href="#">Careers</a></p> -->
                                            <p><a href="/about">About Us</a></p>
                                     </div>

                            </div>
                            <div class="col-12 col-md-3">
                                    <div class="text-white mt-5 d-flex-col justify-content-center align-items-center">
                                            <!-- <h5><strong>LIBARTUS</strong></h5>
                                            <p><a href="#">Our Story</a></p>
                                            <p><a href="#">Careers</a></p> -->
                                            <p><a href="/privacypolicy">Privacy Policy</a></p>
                                     </div>

                            </div>
                            <div class="col-12 col-md-3">
                                    <div class="text-white mt-5 d-flex-col justify-content-center align-items-center">
                                            <!-- <h5><strong>LIBARTUS</strong></h5>
                                            <p><a href="#">Our Story</a></p>
                                            <p><a href="#">Careers</a></p> -->
                                            <p><a href="/copyright">Copyrights Policy</a></p>
                                     </div>

                            </div>
                            <div class="col-12 col-md-3">
                                    

                            </div>
            
                        </div>
                    </div>
        
                </div>

        </div>
      <br><br><br><br>  
    </footer>





        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 
        <script src="swiper.min.js"></script>
        <script type="text/javascript" src=""></script>
        
        
        <!-- <script src="https://unpkg.com/swiper/js/swiper.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>