<!DOCTYPE html>
<html lang="en">
<head>
    <title>Graphic Design - Aidataron</title>
	<link rel="shortcut icon" type="image/png" href="images/fav1.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name = "description" content = "AiDataRon provides the best Graphic Design Solutions that are creative in every way of life and provides a complete artistic look. Due to Our custom logo Design online Service some of our clients used to call us the logo design company.
We provide logo design services freelance, also logo design for the website of brands. Besides logo design services we also provide design services of the business card, poster design, graphic design templates, for brochure design we provide our customers with best brochure design ideas and templates
As we know there are graphic design software free but as free is always like free so the brand cannot be depended upon them and always go for natural creative art that is always hand-crafted by the professional designers.
" >
    <link rel="stylesheet" href="swiper/swiper.min.css">
    <link rel="stylesheet" href="graphics-service.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.js"></script>  -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
	
	<script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-26028bbb-d02d-449f-a0af-1fe21cd667c5"></div>
	
	<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166294183-1');
</script>
	
	<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '193121161507671');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=193121161507671&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>
<body>

     <nav>
            <div class="menu-wrap">
                    <input type="checkbox" class="toggler">
                    <div class="hamburger"><div></div></div>
                    <div class="menu">
                        <div>
                        <div class="row">
                            <div class="col-12 col-md-6 mt-5 ">
                                <ul>
                                    <li ><a class="hover-link" href="/">Home</a></li>
									<li><a class="hover-link" href="/#ourservices">Services</a></li>
									<li><a class="hover-link" href="/portfolio">Portfolio</a></li>
                                    <li ><a class="hover-link" href="https://www.fiverr.com/aidataron?up_rollout=true">Get a Quote</a></li>
                                    <li class="nav-item dropdown">
                                            <a href="#" class="nav-link text-white">Account</a>
                                            <div class="dropdown pl-md-5">
                                              <div class="dropdown-content text-center ">
												  
												<% if(!currentUser){ %>
													<a href="/signup">Signup</a>
													<a href="/login">Login</a>
												<% }else{ %>
												  <a href="/profile"><%= currentUser.yourname%></a>
													<a href="/logout">Logout</a>
												<% } %>
                                              </div>
                                            </div>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-12 col-md-6 nav-logo text-center">
                                <div class="col-12 footer-logo text-center text-white ">
                                    <img src="images/ailogo2.png" class="rounded" alt="the big companies 
graphic designing companies " width="150px" height="145px">
                                    <h2 id = "aidataron">AiDataRon</h2>

                                </div>
                                <div class="follow text-white mt-5 d-flex-col justify-content-center align-items-center">
                                    <h5 class="mt-5 pt-3"><strong>Contact Us </strong></h5>
                                    <a href="https://www.facebook.com/Aidataron-103710027786096/" class="text-white"><i class="fab fa-facebook"></i></a>
                                    <a href="http://www.twitter.com/aidataron" class="text-white"><i class="fab fa-twitter"></i></a>
                                    <a href="http://instagram.com/aidataronofficial" class="text-white"><i class="fab fa-instagram"></i></a>
                                    <a href="https://wa.me/923138309256" class="text-white" target="_blank"><i class="fab fa-whatsapp"></i></a>
                                    <a href="https://www.linkedin.com/company/aidataronofficial/" class="text-white" target="_blank"><i class="fab fa-linkedin"></i></a>

                                </div>
                                

                            </div>
                            
                        </div>
                        </div>
                    </div>


            </div>

            <div class="account">
                    <li class="nav-item dropdown">
                            <div class="dropdown">
                                <button class="btn btn-account">Account</button>
                              <div class="dropdown-content">
								  <% if(!currentUser){ %>
								    <a href="/signup">Signup</a>
                                    <a href="/login">Login</a>
								  <% }else{ %>
								  <a href="/profile"><%= currentUser.yourname%></a>
								    <a href="/logout">Logout</a>
								  <% } %>
                                
								  
                              </div>
                            </div>
                    </li>
                    
            </div>

            

            <div class="nav-brand text-center" >
                <div class="brand">
                    <div><a id= "aidataron-brand"  href="/"><strong>AiDataRon</strong></a></div>
                    

                </div>


            </div>

            

            

    </nav>

                <section class=" header container-fluid px-0 mt-5">
                    <div class="row align-items-center">
                        <div class="col-12 text-center mb-5">
                            <div class="row justify-content-center">
                                <!-- <div class="col-1"></div> -->
                                <div class="col-10 ">
                                    <h1 class="text-white" id="graphic-design" data-aos="fade-up" data-aos-duration="2000" >Graphic Design.</h1>
                                </div>
                                <!-- <div class="col-1"></div> -->
                                
                            </div>
                        </div>
                        
                    </div>
                </section>

    <section class="services">
        <div class="container text-white">
            <br>
            <h1 class="text-center" id="we-design">We Design.</h1>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <div class="box first d-flex-col justify-content-center align-items-center">
                                <span class="icon-cont">
                                    <i class="fas fa-poll-h"></i>
                    
                                </span>
                                <h3>Poster Design</h3>
                                <br>
                    
                        </div>
                </div>
				<div class="col-12 col-md-4 col-lg-3 mb-5">
                        <div class="box first">
                                <span class="icon-cont">
                                   <i class="fas fa-align-justify"></i>
                    
                                </span>
                                <h3>Web Banners</h3>
                                <br>
                    
                        </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <div class="box first">
                                <span class="icon-cont">
                                    <i class="fas fa-edit"></i>
                    
                                </span>
                                <h3>Brouchers Designing</h3>
                                <br>
                    
                        </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <div class="box first">
                                <span class="icon-cont">
                                        <i class="fas fa-align-left"></i>
                    
                                </span>
                                <h3>Menu design</h3>
                                <br>
                    
                        </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <div class="box first">
                                <span class="icon-cont">
                                        <i class="fab fa-adn"></i>
                    
                                </span>
                                <h3>Logo Designing</h3>
                                <br>
                    
                        </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <div class="box first">
                                <span class="icon-cont">
                                   <i class="far fa-address-card"></i>
                    
                                </span>
                                <h3>Buisness Cards</h3>
                                <br>
                    
                        </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <div class="box first">
                                <span class="icon-cont">
                                    <i class="fas fa-ad"></i>
                    
                                </span>
                                <h3>Flyer Designing</h3>
                                <br>
                    
                        </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <div class="box first">
                                <span class="icon-cont">
                                    <i class="fab fa-twitter"></i>
                    
                                </span>
                                <h3>Social Media Kit</h3>
                                <br>
                    
                        </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <div class="box first">
                                <span class="icon-cont">
                                    <i class="fab fa-facebook-f"></i>
                    
                                </span>
                                <h3>Social Media ads</h3>
                                <br>
                    
                        </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <div class="box first">
                                <span class="icon-cont">
                                    <i class="fas fa-pencil-ruler"></i>
                    
                                </span>
                                <h3>Banners Designing</h3>
                                <br>
                    
                        </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <div class="box first">
                                <span class="icon-cont">
                                   <i class="fab fa-adobe"></i>
                    
                                </span>
                                <h3>Professional Photoshop</h3>
                                <br>
                    
                        </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <div class="box first">
                                <span class="icon-cont">
                                   <i class="fas fa-tshirt"></i>
                    
                                </span>
                                <h3>T-shirts Designing</h3>
                                <br>
                    
                        </div>
                </div>
				<div class="col-12 col-md-4 col-lg-3 mb-5">
                        <div class="box first">
                                <span class="icon-cont">
                                   <i class="fas fa-book"></i>
                    
                                </span>
                                <h3>Books Cover Designing</h3>
                                <br>
                    
                        </div>
                </div>
				

            </div>


        </div>
        <br><br><br>
        <div class="quote-query mt-5 pb-5">
            <div class="container text-center">
                <a href="https://www.fiverr.com/aidataron?up_rollout=true"><button  class="btn btn-quotequery px-5 py-2">Get a quote</button></a>
                <a href="/query"><button class="btn btn-quotequery px-5 py-2">Any Query?</button></a>
    
            </div>
    
        </div>
        <br><br><br>

    </section>


  

    <section class="team pt-5 mb-5">

            <h1 class="display-4 text-center text-white pt-5">Our Team</h1>
            

        <div class="container text-white mb-5 pb-5">
            <div class="row my-5">
                <div class="col-12 col-md-4">
                    <div class="text-center">
                            <img src="images/faizanpage1.jpg" alt="graphic designing skills graphic designing field.
" class=" rounded-circle  img-fluid p-0">
                    </div>
                </div>

                <div class="col-12 col-md-8 pt-lg-5">
                    <h2 class="mt-5 mt-md-0">Faizan Abbas</h2>
                    <h4>Head Graphic Designer</h4>
                    <p>I’m Faizan abbas. I am the head of all the graphic designers in our company. I can digitize your imaginations. Graphic design is a vast field and as you know the big companies are creating graphic designing jobs nowadays. Graphic designing companies are also working on augmented reality and also on the 3D printing through which graphic designing future is going to be on new heights. There are 3 responses to a piece of design-Yes, No, and Wow. “Milton Glaser”.</p>

                    <div class="row">
                        <div class="col-12">
                                <div class="follow text-white text-lg-right pr-lg-5 mr-lg-5 d-flex-col justify-content-center align-items-center">
                                        <a href="https://www.facebook.com/profile.php?id=100005773267941" class="text-white"><i class="fab fa-facebook"></i></a>
                                        <a href="https://twitter.com/Faizan_abbas995" class="text-white"><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/its_faizan.abbas/" class="text-white"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.linkedin.com/in/faizan-abbas-5a5a0b197/" class="text-white"><i class="fab fa-linkedin"></i></a>
    
                                </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="row my-5">
                    <div class="col-12 col-md-4">
                        <div class="text-center">
                                <img src="images/saqibpage1.jpg" alt="graphic designing future 
  graphic designing ideas" class=" rounded-circle  img-fluid p-0">
                        </div>
                    </div>
    
                    <div class="col-12 col-md-8 pt-lg-5">
                        <h2 class="mt-5 mt-md-0">Saqib Aslam</h2>
                        <h4>Senior Graphic Designer</h4>
                        <p>I am a pro graphic designer with 3 years of creative experience in the related field. I have also done much creative work with the brands by using graphic designing the best software. I also give many graphic designing ideas to different companies. I have all the graphic designing skills which can help you. I am working as a senior graphic designer at Aidataron for the last 2 years and looking forward to the bright future of graphic designing here and adding value to the market with my work.</p>
                        <div class="row">
                                <div class="col-12">
                                        <div class="follow text-white text-lg-right pr-lg-5 mr-lg-5 d-flex-col justify-content-center align-items-center">
                                                <a href="https://www.facebook.com/aflatoni007" class="text-white"><i class="fab fa-facebook"></i></a>
                                                <a href="https://instagram.com/_aflatooni__?igshid=5jtluhd0f36u" class="text-white"><i class="fab fa-instagram"></i></a>
                                               
            
                                        </div>
                                </div>
        
                            </div>
                    </div>
    
            </div>

            <div class="row my-5 mb-5">
                    <div class="col-12 col-md-4">
                        <div class="text-center">
                                <img src="images/kamranpage1.jpg" alt="graphic designing jobs graphic designing skills" class=" rounded-circle  img-fluid p-0">
                        </div>
                    </div>
    
                    <div class="col-12 col-md-8  pt-lg-5">
                        <h2 class="mt-5 mt-md-0">Kamran Khan</h2>
                        <h4>Senior Illustrator Designer</h4>
                        <p>Hi, Myself Kamran Khan. I am a professional illustrator designer having more than 3 years of experience in the graphic designing field. I have done a lot of creative work for different industries. I have used almost all graphic designing elements in the last 3 years. Now working at Aidataron from the last 2 years and looking forward to the bright future of graphic designing here and working to get it to new heights.</p>

                        <div class="row">
                                <div class="col-12">
                                        <div class="follow text-white text-lg-right pr-lg-5 mr-lg-5 d-flex-col justify-content-center align-items-center">
            
                                        </div>
                                </div>
        
                            </div>
                    </div>
    
            </div>



        </div>




    </section>

    <footer >
        <br><br><br><br><br><br><br>
        <div class="container-fluid pb-5">
            <div class="row  pt-5 m-0 text-center">
                    <div class="col-12 col-md-5 footer-box1 ">
                        <div class="row">
                            <div class="col-12 footer-logo text-center text-white">
                                    <img src="images/ailogo2.png" class="rounded" alt="the big companies
 graphic designing jobs 
" width="150px" height="145px" href="/">
                                    <h2 href="/" class="pb-3">
                                        AiDataRon
                                    </h2>
                                <p>Perfect Services To Maximize Your Digital Business</p>
        
                            </div>
        
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class=" follow text-white mt-5 d-flex-col justify-content-center align-items-center">
                                        <h5><strong>Contact us </strong></h5>
                                        <a href="https://www.facebook.com/Aidataron-103710027786096/"><i class="fab fa-facebook"></i></a>
                                        <a href="http://www.twitter.com/aidataron"><i class="fab fa-twitter"></i></a>
                                        <a href="http://instagram.com/aidataronofficial"><i class="fab fa-instagram"></i></a>
                                        <a href="https://wa.me/923138309256"><i class="fab fa-whatsapp"></i></a>
                                        <a href="https://www.linkedin.com/company/aidataronofficial/"><i class="fab fa-linkedin"></i></a>
                                </div>
        
                            </div>
        
                        </div>
                    </div>
                    <div class="col-12 col-md-7 footer-box2 px-5">
                        <div class="row text-center">
                                <br><br><br>
                                <div class="quote-query mt-5 ">
                                    <div class="container text-center text-white ml-md-2">
										<a href="https://www.fiverr.com/aidataron?up_rollout=true"><button  class="btn btn-quotequery px-5 py-2">Get a quote</button></a>
										<a href="/query"><button  class="btn btn-quotequery px-5 py-2">Any Query?</button></a>
                        
                                    </div>
                        
                                </div>
                                <br><br><br>

                        </div>
                        <div class="row">
                            <div class="col-12 col-md-3">
                                    <div class="text-white mt-5 d-flex-col justify-content-center align-items-center">
                                            <!-- <h5><strong>LIBARTUS</strong></h5>
                                            <p><a href="#">Our Story</a></p>
                                            <p><a href="#">Careers</a></p> -->
                                            <p><a href="/ourstory">Our Story</a></p>
                                     </div>

                            </div>
							<div class="col-12 col-md-3">
                                    <div class="text-white mt-5 d-flex-col justify-content-center align-items-center">
                                            <!-- <h5><strong>LIBARTUS</strong></h5>
                                            <p><a href="#">Our Story</a></p>
                                            <p><a href="#">Careers</a></p> -->
                                            <p><a href="/about">About Us</a></p>
                                     </div>

                            </div>
                            <div class="col-12 col-md-3">
                                    <div class="text-white mt-5 d-flex-col justify-content-center align-items-center">
                                            <!-- <h5><strong>LIBARTUS</strong></h5>
                                            <p><a href="#">Our Story</a></p>
                                            <p><a href="#">Careers</a></p> -->
                                            <p><a href="/privacypolicy">Privacy Policy</a></p>
                                     </div>

                            </div>
                            <div class="col-12 col-md-3">
                                    <div class="text-white mt-5 d-flex-col justify-content-center align-items-center">
                                            <!-- <h5><strong>LIBARTUS</strong></h5>
                                            <p><a href="#">Our Story</a></p>
                                            <p><a href="#">Careers</a></p> -->
                                            <p><a href="/copyright">Copyrights Policy</a></p>
                                     </div>

                            </div>
                            <div class="col-12 col-md-3">
                                    

                            </div>
            
                        </div>
                    </div>
        
                </div>

        </div>
      <br><br><br><br>  
    </footer>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 
<script src="swiper.min.js"></script>
<script type="text/javascript" src="graphics-service.js"></script>


<!-- <script src="https://unpkg.com/swiper/js/swiper.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166294183-1"></script>

</body>
</html>