<!DOCTYPE html>
<html lang="en">
<head>
        <title>Login-AiDataRon</title>
	<link rel="shortcut icon" type="image/png" href="images/fav1.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="swiper/swiper.min.css">
        <link rel="stylesheet" href="login.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
        
        
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.js"></script>  -->
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
	<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166294183-1');
</script>
</head>
<body>

     <nav>
            <div class="menu-wrap">
                    <input type="checkbox" class="toggler">
                    <div class="hamburger"><div></div></div>
                    <div class="menu">
                        <div>
                        <div class="row">
                            <div class="col-12 col-md-6 mt-5 ">
                                <ul>
                                    <li ><a class="hover-link" href="/">Home</a></li>
                                    <li><a class="hover-link" href="/#ourservices">Services</a></li>
									<li><a class="hover-link" href="/portfolio">Portfolio</a></li>
									<li><a class="hover-link" href="/#blog">Blog</a></li>
                                    <li><a class="hover-link" href="/contact">Contact</a></li>
                                </ul>

                            </div>
                            <div class="col-12 col-md-6 nav-logo text-center">
                                <div class="col-12 footer-logo text-center text-white ">
                                    <img src="images/ailogo1.png" class="rounded" alt="..." width="150px" height="145px">
                                    <h2>AiDataRon</h2>

                                </div>
                                <div class="follow text-white mt-5 d-flex-col justify-content-center align-items-center">
                                    <h5 class="mt-5 pt-3"><strong>Contact us </strong></h5>
                                    <a href="https://www.facebook.com/Aidataron-103710027786096/" class="text-white"><i class="fab fa-facebook"></i></a>
                                    <a href="http://www.twitter.com/aidataron" class="text-white"><i class="fab fa-twitter"></i></a>
                                    <a href="http://instagram.com/aidataronofficial" class="text-white"><i class="fab fa-instagram"></i></a>
                                    <a href="https://wa.me/923138309256" class="text-white" target="_blank"><i class="fab fa-whatsapp"></i></a>
                                    <a href="https://www.linkedin.com/company/aidataronofficial/" class="text-white" target="_blank"><i class="fab fa-linkedin"></i></a>

                                </div>
                                

                            </div>
                            
                        </div>
                        </div>
                    </div>


            </div>



            

            <div class="nav-brand text-center" >
                <div class="brand">
                    <div id = "aidataron-brand"><a  href="/"><strong>AiDataRon</strong></a></div>
                    

                </div>


            </div>

            

            

    </nav>

        <div class="row mt-5">
            <div class="col-0 col-md-6 nav-logo text-center d-none d-md-inline mt-md-5">
                    <div class="col-12 footer-logo text-center text-white ">
                            <img src="images/ailogo1.png" class="rounded" alt="..." width="150px" height="145px">
                            <h2>AiDataRon</h2>

                    </div>
                    <div class="follow text-white mt-5 d-flex-col justify-content-center align-items-center">
                        <h5 class="mt-5 pt-3"><strong>Follow us </strong></h5>
                        <a href="https://www.facebook.com/Aidataron-103710027786096/" class="text-white"><i class="fab fa-facebook"></i></a>
                                    <a href="http://www.twitter.com/aidataron" class="text-white"><i class="fab fa-twitter"></i></a>
                                    <a href="http://instagram.com/aidataronofficial" class="text-white"><i class="fab fa-instagram"></i></a>
                                    <a href="https://wa.me/923138309256" class="text-white" target="_blank"><i class="fab fa-whatsapp"></i></a>
                                    <a href="https://www.linkedin.com/company/aidataronofficial/" class="text-white" target="_blank"><i class="fab fa-linkedin"></i></a>

                    </div>

            </div>

            <div class="col-12 col-md-6 text-center mt-md-5">
				
                <div class="col-1 col-md-2 col-xl-3">
					
                </div>

                <div class="col-10 col-md-8 col-xl-6 text-center">
                        <form action="/login" class="login-form" method="POST">
							<% if(error && error.length > 0){ %>
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<%= error %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
							<% } %>
							
                                <h1 data-aos="fade-up" data-aos-duration="2000">Login</h1>
                        
                                <div class="txtb">
                                  <input type="email" name="username" required>
                                  <span data-placeholder="Email"></span>
                                </div>
                        
                                <div class="txtb">
                                  <input type="password" required name= "password">
                                  <span data-placeholder="Password"></span>
                                </div>
                        
                                <!-- <input type="Submit" class="logbtn"> -->
							<!-- <a href="/" class="logbtn text-center text-white py-3" >LOGIN</a> -->
							<button class="logbtn text-center text-white py-3">Login</button>
                        
                                <div class="bottom-text">
                                  Don't have account? <a href="/signup">Sign up</a>
                                </div>
                        
                        </form>

                </div>

                <div class="col-1 col-md-2 col-xl-3">

                </div>

            </div>

        </div>

        <!-- <div class="row ">
            <div class="col-1 col-md-4">

            </div>

            <div class="col-10 col-md-4 " >
                    

            </div>

            <div class="col-1 col-md-4">

            </div>

        </div> -->

        
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 
    <script type="text/javascript" src="login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166294183-1"></script>


</body>
</html>